.jumbotron {
  margin-top: 300px;
  text-align: center;
  padding: 0 var(--space-xl);

  & h2 {
    color: var(--color-accent);
  }

  & .buttons {
    display: flex;
    margin: var(--space-lg) 0;
    gap: var(--space-md);
    align-items: center;
    justify-content: center;
  }
}
